*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary: rgba(255, 255, 255, 0.863);
    --background1: #505050;
    --background2: #3abdce;
    --background3: #1f1f20fd;
    --back: url("./images/hero-banner.png");
}
a:link, a:visited{
    text-decoration: none;
    color: var(--primary);
}
header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--background1);
    padding: 15px;


    }
    .my-pic{
        height: 40px;
       
    }
    body{
        background-image: var(--back);
        /* background-repeat: no-repeat; */
        background-size: cover;
        background-position: 80%;
        background-attachment: fixed;
        /* image-resolution: 300dppx; */
    }
header h1{
    font-weight: bold;
    font-size: 40px;
    text-shadow: 2px 2px 5px rgba(244, 244, 244, 0.25);
    color: var(--primary);
    align-items: center;
    justify-content: center;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: center;
    padding: 18px;
}
nav ul li a{
    padding: 20px;
    font-size: 23px;
}
.hero{
    display: flex;
    background-image: url("./images/hero-banner.png");
    background-size: cover;
    background-position: 80%;
    color: var(--primary);
    justify-content: center;
    align-items: center;
    height: 200px;
    background-attachment: fixed;
    flex-direction: column;

}
.hero h1{
    font-weight: bold;
    font-size: 35px;
}
.border{
    
    height: 100px;
    border-right: 2px solid rgb(255, 255, 255);    
    
} 
/* body content */
.about-me{
    display: flex;
    height: 300px;
    justify-content: space-between;
    align-items: center;
    
}
h2{
    margin: 30px 75px ;
    font-weight: bold;
    font-size: 40px;  
    color: rgb(173, 173, 173);  
}
.about-me p{
    margin: 30px 75px;
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(104, 104, 104);

}
.project-2{
    height: 45%;
    width: 70%;
    margin: 15px;
}
.project-1{
    height: 30%;
    width: 35%;
    margin: 15px;
}
.work-content{
    
    display: flex;
    align-items: center;
    
}
.work-content img{
    border: 3px solid rgb(25, 133, 221);
    /* margin: 20px; */
    max-width: 100%;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 70px 10px 70px 70px;
    
}
.projects a{
    /* flex-grow: 1;     */
}

.run-buddy {
    /* flex-grow: 2; */
}
/* .projects img{
    height: 500px;
    width: 700px;

} */


/* body content end */
.contact-me{
    display: flex;
    background-color: var(--background3);
    justify-content: stretch;
    
}
.contact-h2{
    
}
.links{
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}
.link-box{
    display: flex;
        
}
.links a{
    padding: 30px;
    color:rgba(235, 158, 57, 0.781);
    font-size: 25px;
    flex-grow: 1;
}
@media screen and (min-width: ){
    
}